<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla Fetch</title>
</head>
<body>
    <h1>---Nombre---</h1>
    <h2>---Apellidos---</h2>
    <h3>---Email---</h3>
    <script>
        fetch("static/curriculum.json")
        .then(function(respuesta){
            return respuesta.json(); //La informacion viene desde el json
        }
        )
        .then(function(datos){
            console.log(datos); //Vamos a vomitar en la consola
            document.querySelector("h1").textContent = datos.datos_personales.nombre
            document.querySelector("h2").textContent = datos.datos_personales.apellidos
            document.querySelector("h3").textContent = datos.datos_personales.email
            document.querySelector("").textContent = datos.datos_personales.telefono
        }
        )
    </script>
</body>
</html>